{
	"printWidth": 90,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "none",
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"tabWidth": 2,
	"useTabs": false,
	"vueIndentScriptAndStyle": false,
	"parser": "vue"
}